node_modules/**/*
build/**/*
certs/**/*

backend/rover_interface/router_for_tests/logfile*
backend/rover_interface/node_modules/**/*
backend/rover_interface/package-lock.json

**/.idea

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

package-lock.json
